*{

    margin: 0;
    font-family: Arial;

}
.title{

    margin: 0;
    

}

.topnavigator{

    --navigator-bg-color: grey;
    --navigator-underline-color: #1CBAC9;
    --navigator-underline-size: 5px;
    --navigator-padding: 10%;

    width: 100%;
    height: 100px;
    background-color: var(--navigator-bg-color);
    
}
.navigator{

    height: 100%;

}

.categories{

    height: 100%;
    margin: 0;
    padding: 0;   
    
}

ul.categories li{

    -ms-transform: translateY(100%);
    transform: translateY(100%);
    display:inline;
    float:left;
    padding-left: var(--navigator-padding);
    background-color: var(--navigator-bg-color);
}

.celements{

    padding: var(--navigator-underline-size);
    border: none;
    outline: none;
    position: relative;

}

.celements::before{

    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: var(--navigator-underline-size);
    background-color: var(--navigator-underline-color);
    transition: 200ms ease-in-out;

    transform: scaleX(0);

}

.celements:hover::before, .celements:focus::before{

    transform: scaleX(1);

}


.searchbar{

    float: right;
    padding-right: 10%;

}

@media screen and (max-width: 600px) {

    ul.categories li{

        width: 100%;

    }

}
