
:root{

--logo-color : #f2f2f2;
--font-family: poppins, sans-serif;
--after-hover-color: white;
--nav-background-color: rgb(32, 29, 29);
--sub-background-color: rgb(28,28,28);

}


body{
    font-family: var(--font-family);
}


.logo a{

    color: var(--logo-color);
    letter-spacing: 3px;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;


}

.logo a:hover {


    color:  var(--after-hover-color);
    transition: color ease-in-out 0.2s;

}

nav{

    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: var(--nav-background-color);

    width: 100%;

}

.nav-elements{

    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;   
    padding: 0;
    margin: 0;

}
.nav-elements li{

    list-style: none;
    
}

.nav-elements li:hover{

    color: var(--after-hover-color);
    text-decoration: underline;
    transition: all ease-in-out 0.2s;

}

.loginIcon i{

    padding-right: 5px;

}

.loginIcon{

    color: var(--logo-color);
    font-size: 3vh;
    

}

.nav-elements a{

    color: var(--logo-color);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 15px;

}

.burger{

    display: none;

}

.burger div{

    width: 25px;
    height: 3px;
    background-color: var(--logo-color);
    margin: 5px;
    transition: all 0.3s ease;

}

.fa-cog:hover, .fa-cog:focus{

    
    -webkit-animation: rotating 3s linear infinite;
    -moz-animation: rotating 3s linear infinite;
    -ms-animation: rotating 3s linear infinite;
    -o-animation: rotating 3s linear infinite;
    animation: rotating 3s linear infinite;

}



@media screen and (max-width:900px){

    .nav-elements{

        width: 53%;
    
    }
    
}

@media screen and (max-width:600px){

    body{

        overflow-x: hidden;

    }

    .nav-elements{

        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: var(--nav-background-color);
        display: flex;
        flex-direction: column;
        width: 45%;
        transform: translateX(100%);
        align-items: center;
        transition: transform 400ms ease-in-out;

    }

    .burger{

        display: block;
        cursor: pointer;

    }

    .nav-elements li{

        opacity: 0;

    }
    
}

.nav-active{

    transform: translateX(0%);

}
.toggle .line1{

    transform: rotate(-45deg) translate(-5px,6px);

}

.toggle .line2{
    
    opacity: 0;

}

.toggle .line3{

    transform: rotate(45deg) translate(-5px,-6px);
    
}

@keyframes navLinkFade{

    from{

        opacity: 0;
        transform: translateX(50px);

    }
    to{

        opacity: 1;
        transform: translateX(0px);


    }

}


@keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }