:root{

    --sub-background-color: rgb(38, 38, 38);
    --text-color: #f2f2f2;
    --nav-background-color: rgb(32, 29, 29);
    --text-absolute-fontsize: 2.4vh;
    --text-font-size: 1em;
    --button-cancel-color: rgb(112, 7, 0);

}

body{
    min-height: 100vh;
    background-color: var(--sub-background-color);
}

main{
    
    font-size: var(--text-absolute-fontsize);
    background-color: var(--sub-background-color);
    height: 92vh;

}

.profilePic{

    padding-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.profilePic img{

    position: relative;
    width: 40vh;
    height: 40vh;
    border: 4px solid var(--text-color);
    border-radius: 50%;
    

}

.avatar{
    
    position: absolute;

}

.file-upload{

    display: none;

}
.upload-button{

    font-size: var(--text-font-size);
    color: var(--nav-background-color);

}

.upload-button:hover, .upload-button:focus{

    cursor: pointer;

}


.userInformation{

    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    font-size: var(--text-font-size);
    color: var(--logo-color);
    

}

.userInformation li{

    list-style: none;
    text-align: center;

}

#newPassword{

    display: none;

}

.profileButtons{

    text-align: center;
    display: none;


}

#bcancel, #bsave{

    margin-top: 1vh;   

}
#bcancel{

    border-color: var(--button-cancel-color);
    margin-right: 1vh;
    background-color: var(--sub-background-color);

}
#bcancel:hover, #bcancel:focus{

    background-color: var(--button-cancel-color);

}

#bsave{

    margin-left: 1vh;

}

.pen{

    display: inline;
    font-size: var(--text-font-size);
    cursor: pointer;

}

#hiddenpen{

    visibility: hidden;

}


@media screen and (max-width: 600px) {

    .profilePic img{
     
        width: 25vh;
        height: 25vh;
    
    }  
    .userInformation{

        margin-top: 1vh;
        
    
    }
    
}

@media screen and (max-width: 350px) {


    .userInformation li input{


        width: 20vh;

    }


}
