
main{

    display: block;
    justify-content: center;

}

.profilePic img{

    width: 500px;
    height: 600px;
    border-radius: 30%;
    

}
@media screen and (max-width: 600px) {

    .profilePic img{

        width: 250px;
        height: 300px;
        border-radius: 30%;
        
    
    }  
    
}
