.slider{ box-sizing: border-box; }
.slider .slideshow-container{ position: relative; }

.slider .slide{ display: none; width: 100%; }
.slider .slide img{ width: 100%; max-height: 100%; }
.slider .slide p, .slider .slide a{ position: absolute; bottom: 0; left: 0; margin: 5px; color: white; }
.slider .slide.active{ display: block; }

.slider a.ctrl{ font-size: 3em; color: white; cursor: pointer; user-select: none; }
.slider .ctrl{ z-index: 100; position: absolute; }
.slider .ctrl.next{ top: 50%; right: 0; transform: translate(-100%, -50%); }
.slider .ctrl.prev{ top: 50%; left: 0; transform: translate(100%, -50%); }

.slider .dots{ position: absolute; bottom: 15px; left: 50%; transform: translateX(-50%); }
.slider .dot { cursor: pointer; height: 15px; width: 15px; margin: 0 5px; padding: 2px; background-color: rgba(255, 255, 255, 0.5); border-radius: 50%; display: inline-block; transition: background-color 0.6s ease; }
.slider .dot:hover { background-color: #fff; }

.slider * { user-select: none; }
